.exam-container { 
    padding: 20px 12px 0 12px; 
    height: 100%; 
} 

.start-view { 
    padding-top: 20vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
.start-view .title { 
    font-weight: bold; 
    font-size: 30px; 
    margin-bottom: 20px; 
}
.start-view .btn-start { 
    margin-top: 30px; 
}
.start-view .info-exam {
    width: 100%;
}

.intime-view { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.intime-view .result { 
    margin-top: 30px; 
    font-size: 22px; 
    font-weight: bold; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
} 
.intime-view .result .score { 
    font-size: 16px; 
} 

.question-detail {
    min-height: 40vh;
} 
.question-detail .question {
    font-weight: 500;
}
.nav-question-btn { 
    display: flex; 
    align-items: center; 
} 

.overview-question { 
    margin-top: 48px; 
}
.overview-question .question-status { 
    width: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid #8b8b8b; 
    background-color: #f3f3f3; 
    border-radius: 4px; 
    padding: 6px 4px; 
    margin-right: 6px; 
    cursor: pointer; 
}
.overview-question .question-status:hover { 
    background-color: #e6e6e6; 
}
.overview-question .question-status.answered,
.overview-question .question-status.correct { 
    background-color: #d8ffda; 
    border-color: #5cc459;
} 
.overview-question .question-status.answered:hover,
.overview-question .question-status.correct:hover {
    background-color: #bffcc2; 
}
.overview-question .question-status.incorrect { 
    background-color: #f5d3c9; 
    border-color: #ff4c16; 
}
.overview-question .question-status.incorrect:hover { 
    background-color: #f7b39e; 
} 
.overview-question .question-status.active { 
    background-color: #d8e8ff; 
    border-color: #1677ff;
} 
.overview-question .question-status.active:hover { 
    background-color: #bad6fc; 
}
.overview-question .question-status.active.incorrect,
.overview-question .question-status.active.correct { 
    opacity: 60%; 
}